@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(32.1% 0 0);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-sidebar-ring: oklch(0.705 0.015 286.067);
  --color-sidebar-border: oklch(0.92 0.004 286.32);
  --color-sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --color-sidebar-accent: oklch(0.967 0.001 286.375);
  --color-sidebar-primary-foreground: oklch(100% 0 0);
  --color-sidebar-primary: oklch(54.6% 0.245 262.881);
  --color-sidebar-foreground: oklch(0.141 0.005 285.823);
  --color-sidebar: oklch(0.985 0 0);

  --color-chart-5: oklch(0.769 0.188 70.08);
  --color-chart-4: oklch(0.828 0.189 84.429);
  --color-chart-3: oklch(0.398 0.07 227.392);
  --color-chart-2: oklch(0.6 0.118 184.704);
  --color-chart-1: oklch(0.646 0.222 41.116);

  --color-ring: oklch(0.705 0.015 286.067);
  --color-input: oklch(0.92 0.004 286.32);
  --color-border: oklch(0.92 0.004 286.32);

  --color-destructive: oklch(56.188% 0.18954 12.73);
  --color-destructive-foreground: oklch(100% 0 0);

  --color-success: oklch(59.6% 0.145 163.225);
  --color-success-foreground: oklch(100% 0 0);

  --color-warning: oklch(66.6% 0.179 58.318);
  --color-warning-foreground: oklch(100% 0 0);

  --color-overlay: oklch(0% 0 0 / 45%);
  --color-brand-accent: oklch(70.5% 0.213 47.604);
  --color-brand-soft: oklch(70.7% 0.165 254.624);

  --color-category-food: oklch(66.6% 0.179 58.318);
  --color-category-groceries: oklch(62.7% 0.194 149.214);
  --color-category-transport: oklch(54.6% 0.245 262.881);
  --color-category-stay: oklch(54.1% 0.281 293.009);
  --color-category-fun: oklch(59.2% 0.249 0.584);
  --color-category-shopping: oklch(64.6% 0.222 41.116);
  --color-category-bills: oklch(64% 0.135 107.2);
  --color-category-travel: oklch(58.8% 0.158 241.966);
  --color-category-health: oklch(58.6% 0.253 17.585);
  --color-category-other: oklch(44.6% 0.03 256.802);

  --color-accent-foreground: oklch(0.21 0.006 285.885);
  --color-accent: oklch(0.967 0.001 286.375);

  --color-muted-foreground: oklch(0.552 0.016 285.938);
  --color-muted: oklch(98.5% 0 0);

  --color-secondary-foreground: oklch(0.21 0.006 285.885);
  --color-secondary: oklch(0.967 0.001 286.375);

  --color-primary-foreground: oklch(100% 0 0);
  --color-primary: oklch(45.8% 0.174 260.8);

  --color-popover-foreground: oklch(0.141 0.005 285.823);
  --color-popover: oklch(1 0 0);

  --color-card-foreground: oklch(0.141 0.005 285.823);
  --color-card: oklch(1 0 0);

  --radius: 0.625rem;
  --radius-sm: calc(0.625rem - 4px);
  --radius-md: calc(0.625rem - 2px);
  --radius-lg: 0.625rem;
  --radius-xl: calc(0.625rem + 4px);
  --radius-2xl: calc(0.625rem + 8px);

  --header-height: calc(var(--spacing) * 12 + 1px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
